@import url('https://fonts.googleapis.com/css2? family= Merriweather:ital,wght@1,300 & display=swap');

body {
    background-color: rgb(233, 246, 248);
    font-family: 'Merriweather';
}

header, section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagen-banner {
    background-image: url(../img/develop.png);
    background-size: cover;
    width: 97.12%;
    height: 210px;
    opacity: 0.5;
    display: block;
    position: absolute;
}

.foto {
    display: flex;
    justify-content: center;
}
.foto-cv {
    width: 8%;
    margin-top: 5rem;
    border-radius: 20rem;
    z-index: 1;
}

.cv { 
    background-color: rgb(17, 150, 160);
    color: rgb(10, 16, 95);
    font: bold;
    font-size: 35px;
    text-align: center;
    padding: 12px;
    margin: 0;
}


nav {
    background-color:#e7f6f7; 
    font-size: 20px;
    text-align: center;
    padding: 20px;
}


.link {
    text-decoration-line: none;
    color: midnightblue;
}

.link:hover{
    color: rgb(21, 90, 136);
}


h2 {
    background-color:rgb(17, 150, 160);
    color: midnightblue;
    padding: 10px;
    text-indent: 60px;

}

.subt {
    font-weight: bold;
}

.dp {
    margin: 50px;
    font-size: large;
    line-height: 25px;
}

.francesa {
    text-indent: 90px;
    position: absolute;
    padding-left: 0px;
}

.redes {
    background-color: rgb(17, 150, 160);
    text-align: center;
    padding: 5px;
}

p {
    text-align: center;
    color: midnightblue;
}

.fa-brands {
    color: midnightblue;
    font-size: 30px;
    padding-right: 5px;
}


/* css página sobre mi */

.sobremi {
    background-color: rgb(17, 150, 160);
    margin: 0px 250px;
    padding: 1rem;
    color: rgb(235, 235, 247);
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.titulo {
    text-align: center;
    color:midnightblue;
    font-weight: bold;
    font-size: 35px;

}
.home {
    color: midnightblue;
    text-decoration: none;
    font-size: 20px;
}

.home:hover{
    color: rgb(21, 90, 136);
}

.fa-brands:hover {
    color: rgb(21, 90, 136);
    transform: scale(1.1);
} 








